body {
	background-color: gray;
}

.calendar-workspace {
	width: 100%;
	flex: 1;
	padding: 50px 0;
	overflow-x: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #75787f;
}

.calendar-flow {
	padding: 15px;
	display: flex;
	align-items: center;
	margin: auto;
}

	.calendar-flow .calendar-flow-description {
		margin-right: 10px;
	}

	.calendar-flow .calendar-flow-days {
		display: flex;
		flex-direction: row;
		border: 2px solid;
		border-radius: 20px;
		padding: 0 20px;
		background-color: rgb(79, 84, 97);
	}

.new-habit {
	margin: 15px;
}
