body {
	background-color: gray;
}

.calendar-workspace {
	width: 100%;
	height: 100%;
	padding: 150px 0;
}

.calendar-flow {
	padding: 15px;
	display: flex;
	align-items: center;
}

	.calendar-flow .calendar-flow-description {
		margin-right: 10px;
	}

	.calendar-flow .calendar-flow-days {
		display: flex;
		flex-direction: row;
		border: 2px solid;
		border-radius: 20px;
		padding: 0 20px;
	}

.calendar-day {
	width: 10px;
	height: 20px;
	position: relative;
	border-color: inherit;
	margin: 3px 0;
}

	.calendar-day.with-events {
	}

	.calendar-day.current-date {
		margin: 0;
		height: 26px;
	}

	.calendar-day .add-event-button {
		width: 100%;
		height: 100%;
		padding: 2px 1px;
	}

		.calendar-day .add-event-button .calendar-progress {
			width: 100%;
			height: 100%;
			box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7) inset;
		}

		.calendar-day .add-event-button .calendar-mark {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}

			.calendar-day .add-event-button .calendar-mark .calendar-mark-bubble {
				width: 30px;
				height: 30px;
				position: absolute;
				bottom: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0.4;
				transition: opacity 0.5s;
				z-index: 200;
			}

				.calendar-day .add-event-button .calendar-mark .calendar-mark-bubble .events-number-indicator {
					background-color: rgba(0,0,0,0.4);
					border-radius: 1000px;
					padding: 2px 5px;
					font-size: 0.7em;
					color: rgba(255,255,255,0.9);
					margin-left: 5px;
				}

			.calendar-day .add-event-button .calendar-mark .calendar-mark-dot {
				width: 100%;
				height: 8px;
				border-radius: 100%;
				box-shadow: 1px 1px 5px black;
				border: 2px solid black;
			}

	.calendar-day .calendar-day-date,
	.calendar-day .calendar-day-progress {
		visibility: collapse;
		transform: rotate(90deg);
		left: 50%;
		transform-origin: right;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		color: white;
		z-index: 50;
		border-radius: 50px;
		bottom: 100%;
		width: 0;
		position: relative;
		pointer-events: none;
		border-color: inherit;
	}

	.calendar-day .calendar-day-date {
		top: 100%;
	}

	.calendar-day .calendar-day-progress {
		bottom: 100%;
	}

		.calendar-day .calendar-day-date > span,
		.calendar-day .calendar-day-progress > span {
			background-color: rgba(0,0,0,0.7);
			padding: 3px 15px;
			position: absolute;
			width: max-content;
			margin: 0 3px;
			border: 2px solid;
			border-color: inherit;
			background-color: rgb(128, 128, 128);
		}

	.calendar-day .calendar-day-date > span {
		left: 0;
		border-radius: 0 50px 50px 0;
		border-left-width: 0;
	}

	.calendar-day .calendar-day-progress > span {
		right: 0;
		border-radius: 50px 0 0 50px;
		border-right-width: 0;
	}

	.calendar-day:hover .calendar-day-date,
	.calendar-day:hover .calendar-day-progress {
		visibility: visible;
	}

	.calendar-day.current-date .calendar-day-date > span,
	.calendar-day.current-date .calendar-day-progress > span {
		margin: 0;
	}

.calendar-flow .calendar-day:hover .add-event-button .calendar-mark .calendar-mark-bubble {
	opacity: 1;
	z-index: 201;
}

.new-habit {
	margin: 10px;
}
